@import "tailwindcss";

:root {
  --mainColor: #313856;
  --secondaryColor: #2e45a3;
  --thirdColor: #ECB365;
  --mainTextColor: #181a36;
  --secondaryTextColor: #646886;
  --lightColor: #d7dbed;
  --white: #FFFFFF;
  --darkColor: #191919;
  --titleFont: 'Poppins', sans-serif;
  --defaultFont: 'Montserrat', sans-serif;
  --border: 1rem;
  --boxShadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  --boxShadow2: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
  --gradient: linear-gradient(45deg, #ffffff, #9fa9d1, #dbc6aa, #ffffff, #dda7aa, #ffffff);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { scroll-behavior: smooth; }

body {
  font-family: var(--defaultFont);
  font-weight: 400;
  background-color: var(--white);
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  overflow-x: clip;
}

main > section { margin-bottom: 4rem; }
main > section:last-child { margin-bottom: 0; }

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade-in { opacity: 0; transition: .3s ease-in-out; }
.fade-in.appear { opacity: 1; }
.from-left { transform: translateX(-50%); }
.from-right { transform: translateX(50%); }
.from-bottom { transform: translateY(50%); }
.from-right,
.from-left,
.from-bottom {
  transition: opacity .3s ease-in, transform .5s ease-in;
  opacity: 0;
}
.appear { transform: translate(0, 0); opacity: 1; }

h1 { font-size: clamp(1.7rem, 3.5vw, 4.5rem); }
h2 { font-size: clamp(1.2rem, 2vw, 2.2rem); text-transform: uppercase; }

h1, h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 500;
  font-style: normal;
  color: var(--mainTextColor);
  line-height: 3.5rem;
}

h3, h4, h5, h6 {
  font-family: var(--titleFont);
  font-weight: 400;
  color: var(--secondaryTextColor);
  margin: 20px auto;
}

ul { display: flex; gap: 2rem; }
ul > li { list-style: none; }

a {
  color: var(--mainTextColor);
  text-decoration: none;
  transition: 0.3s;
  font-size: 11px;
  font-weight: 500;
}
a:hover { color: var(--mainColor); }

a.link {
  color: var(--mainTextColor);
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}
a.link:hover { color: var(--secondaryColor); }

p {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  color: var(--mainTextColor);
  line-height: 1.7rem;
}
